<%= form_with(model: score_log, local: true) do |form| %>
  <% if score_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score_log.errors.count, "error") %> prohibited this score_log from being saved:</h2>

      <ul>
      <% score_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.text_field :score %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
