<p id="notice"><%= notice %></p>

<h1>Score Logs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th>Score</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @score_logs.each do |score_log| %>
      <tr>
        <td><%= score_log.name %></td>
        <td><%= score_log.comment %></td>
        <td><%= score_log.score %></td>
        <td><%= score_log.published %></td>
        <td><%= link_to 'Show', score_log %></td>
        <td><%= link_to 'Edit', edit_score_log_path(score_log) %></td>
        <td><%= link_to 'Destroy', score_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score Log', new_score_log_path %>
